

footer {
    width: 100%;
    margin-top: auto;
    padding: 22px 0;
    display: flex;
    justify-content: center;

    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(6px) saturate(1.2);
    -webkit-backdrop-filter: blur(6px) saturate(1.2);

    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
        0 -10px 25px rgba(0, 0, 0, .35),
        inset 0 2px 0 rgba(255, 255, 255, 0.35);

    position: relative;
    z-index: 5;
}

/* Glow azul do rodapé */
footer::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 180%;
    height: 60px;
    background: radial-gradient(
        circle at center,
        rgba(0, 225, 255, 0.25),
        transparent 70%
    );
    filter: blur(18px);
    pointer-events: none;
    opacity: 0.6;
}

#footer {
    max-width: 1100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;

    position: relative;
    z-index: 2;
    width: 90%;
    flex-shrink: 0;  
}

/* Logo */
#footer img {
    height: 55px;
    transition: 0.25s ease;
}

#footer img:hover {
    transform: scale(1.06);
    filter: drop-shadow(0 0 7px rgba(0, 225, 255, 0.6));
}

/* Listas */
#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    gap: 70px;
}

#footer a {
    text-decoration: none;
    color: #e6faff;
    font-family: "Orbitron", sans-serif;
    font-size: 0.85rem;
    letter-spacing: 0.07em;

    transition: 0.25s ease;
}

#footer a:hover {
    color: #ffffff;
    text-shadow: 0 0 8px rgba(0, 225, 255, 0.9);
}

/* Última coluna */
#footer .links a {
    color: #b8ecff;
}

#footer .links a:hover {
    text-shadow: 0 0 10px rgba(0, 215, 255, 1);
}